<link rel="stylesheet" href="./public/stylesheets/login.css">
<body>
<h1>Today's Image!</h1>
<p> <%= description %></p>
 <img src="<%= image %>" alt="Nasa Image of the Day"/>
<li><a href="/logout">Logout</a></li>
</body>