
<h1>Today's Image!</h1>

<img src=
"https://apod.nasa.gov/apod/image/2304/NGC2442-NicolasROLLAND_signatur.jpg">

<h1>Home Page</h1>

<li><a href="/register">Sign up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
